body {
    background-color: #7d7d7d;
    padding-top: 100px;
    margin: 0;
}

.whole-content {
    color: #BAFF39;
    font-family: Roboto, Arial;
    position: relative;
}
.end-of-site {
    bottom: 0;
    top: 1400;
    background-color: rgb(28, 28, 28);
    margin-top: 350px;
}
.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.vertical-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}
.copyright-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.vidget:hover {
    text-decoration: underline;
    cursor: pointer;
}