.gamepad-image {
    width: 400px;
    border-radius: 10px;
}
.first-segment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}
.first-text-div {
    width: 300px;
    display: inline-block;
}
.first-text {
    font-size: 35px;
    margin-right: 20px;
    pointer-events: none;
}
.upper-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}
.aditional-text-div {
    background-color: #BAFF39;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 660px;
    padding: 20px;
    border-radius: 10px;
}
.aditional-text {
    width: 540px;
    color: black;
    pointer-events: none;
}
.introduction {
    margin-right: 100px;
}
.brand-name-div {
    margin-left: 80px;
}
.brand-name {
    font-size: 60px;
    width: 200px;
    color: white;
    pointer-events: none;
    text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
}


.buy-button,
.sign-in-button {
    padding: 18px 60px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
}   
.buy-button {
    background-color: #BAFF39;
    color: black;
    font-size: 20px;
    font-weight: 600;
    transition-duration: 0.15s;
}
.buy-button:hover {
    background-color: #37dc00;
    color: rgb(0, 0, 0);
    scale: 1.03;
    cursor: pointer;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
    font-weight: 600;
}
.buy-button:active {
    scale: 0.97;
}
.sign-in-button {
    background-color: transparent;
    border: white solid 2px;
    color: white;
    font-size: 19px;
    font-weight: 600;
    transition-duration: 0.15s;
}
.sign-in-button:hover {
    color: #6E6E6E;
    background-color: white;
    scale: 1.03;
    cursor: pointer;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
}
.sign-in-button:active {
    scale: 0.97;
}